### Библиотеки

In [50]:
import pandas as pd
import numpy as np

### Создание

#### из списка

создаем Series значений из списка целых чисел

In [51]:
s = pd.Series(data=[10, 11, 12, 13, 1456],
              index=[1, 2, 3, 5, 79])
s

1       10
2       11
3       12
5       13
79    1456
dtype: int64

создаем Series из строковых значений

In [52]:
s = pd.Series(['Blue', 'Yellow', 'Green'])
s + s

0        BlueBlue
1    YellowYellow
2      GreenGreen
dtype: object

создаем Series из 5 элементов, каждый элемент - list python

In [53]:
l = [[1, 2]]
s = pd.Series(l*5)
s

0    [1, 2]
1    [1, 2]
2    [1, 2]
3    [1, 2]
4    [1, 2]
dtype: object

создаем DataFrame из двумерного списка

In [54]:
df = pd.DataFrame([[10, 11], [20, 21], [30, 31]])
df

    0   1
0  10  11
1  20  21
2  30  31

задаем имена столбцов

In [55]:
df = pd.DataFrame([[10, 11], [20, 21], [30, 31]],
                  columns=['A', 'B'])
df

    A   B
0  10  11
1  20  21
2  30  31

создаем DataFrame для списка объектов Series

In [56]:
series_1 = pd.Series([70, 90])
series_2 = pd.Series([71, 91])
df = pd.DataFrame([series_1, series_2])
df

    0   1
0  70  90
1  71  91

задаем имена столбцов после создания датафрейма

In [57]:
df.columns = ['col_1', 'col_2']
df

   col_1  col_2
0     70     90
1     71     91

#### из словаря

создаем объект Series из словаря, при этом посмотрим, как изменились индексы

In [112]:
s = pd.Series({'Homer': 'Dad',
               'Marge': 'Mom',
               'Bart': 'Son',
               'Lisa': 'Daughter',
               'Maggie': 'Daughter'})
s

Homer               DadDad
Marge               MomMom
Bart                SonSon
Lisa      DaughterDaughter
Maggie    DaughterDaughter
dtype: object

создание DataFrame с помощью питоновского словаря

In [59]:
list_1 = [70, 71]
list_2 = [90, 91]
temperatures = {'col_1': list_1,
                'col_2': list_2}
pd.DataFrame(temperatures)

   col_1  col_2
0     70     90
1     71     91

создание DataFrame с помощью словаря, состоящего из объектов Series

In [60]:
series_1 = pd.Series([70, 71])
series_2 = pd.Series([90, 91])

df = pd.DataFrame({'col_1': series_1,
                   'col_2': series_2})
df

   col_1  col_2
0     70     90
1     71     91

#### при помощи функций

создание Series, используя np.arange - последовательность чисел от **start** до **stop-1** с шагом **step**:
```python 
np.arange(start, stop, step) 
```

In [61]:
s = pd.Series(np.arange(15,25,2))
s

0    15
1    17
2    19
3    21
4    23
dtype: int32

создаем Series из 5 значений, равномерно разбивающих отрезок 0 до 9

In [62]:
s = pd.Series(np.linspace(0, 9, 5))
s

0    0.00
1    2.25
2    4.50
3    6.75
4    9.00
dtype: float64

Генерация случайных чисел.

Зафикисруем значение seed, что позволит нам в будущем воcпроизводить свои результаты

Создадим объект Series из 5 нормально распределенных случайных чисел

In [63]:
np.random.seed(123)
s = pd.Series(np.random.normal(size=5))
s

0   -1.085631
1    0.997345
2    0.282978
3   -1.506295
4   -0.578600
dtype: float64

Создадим объект DataFrame размерности 4х3 из случайных чисел

In [64]:
np.random.seed(123)
df = pd.DataFrame(np.random.normal(size=12).reshape(4, 3),
                  index=['ind_1', 'ind_2', 'ind_3', 'ind_4'],
                  columns=['col_1', 'col_2', 'col_3'])
df

          col_1     col_2     col_3
ind_1 -1.085631  0.997345  0.282978
ind_2 -1.506295 -0.578600  1.651437
ind_3 -2.426679 -0.428913  1.265936
ind_4 -0.866740 -0.678886 -0.094709

#### [из файла](http://pandas.pydata.org/pandas-docs/stable/user_guide/io.html#io-tools-text-csv-hdf5)

| Column Name        | Description
| ------------- |:-------------:|
|Symbol|Сокращенное название организации|
|Name|Полное название организации|
|Sector|Сектор экономики|
|Price|Стоимость акции|
|Dividend Yield|Дивидендная доходность|
|Price/Earnings|Цена / прибыль|
|Earnings/Share|Прибыль на акцию|
|Book Value|Балансовая стоимость компании|
|52 week low|52-недельный минимум|
|52 week high|52-недельный максимум|
|Market Cap|Рыночная капитализация|
|EBITDA|**E**arnings **b**efore **i**nterest, **t**axes, **d**epreciation and **a**mortization|
|Price/Sales|Цена / объём продаж|
|Price/Book|Цена / балансовая стоимость|
|SEC Filings|Ссылка *sec.gov*|

In [65]:
pd.read_csv(filepath_or_buffer = "../data/sp500.csv",
            sep = ';')

    Symbol,Name,Sector,Price,Dividend Yield,Price/Earnings,Earnings/Share,Book Value,52 week low,52 week high,Market Cap,EBITDA,Price/Sales,Price/Book,SEC Filings
0    MMM,3M Co.,Industrials,141.14,2.12,20.33,6.90,...
1    ABT,Abbott Laboratories,Health Care,39.60,1.82...
2    ABBV,AbbVie Inc.,Health Care,53.95,3.02,20.87,...
3    ACN,Accenture,Information Technology,79.79,2.3...
4    ACE,ACE Limited,Financials,102.91,2.21,10.00,1...
..                                                 ...
495  YHOO,Yahoo Inc.,Information Technology,35.02,,...
496  YUM,Yum! Brands Inc,Consumer Discretionary,74....
497  ZMH,Zimmer Holdings,Health Care,101.84,0.81,22...
498  ZION,Zions Bancorp,Financials,28.43,0.56,18.82...
499  ZTS,Zoetis Inc,Health Care,30.53,0.90,29.22,1....

[500 rows x 1 columns]

разделитель

In [66]:
pd.read_csv(filepath_or_buffer = "../data/sp500.csv",
           sep = ',')

,Symbol,Name,Sector,Price,Dividend Yield,Price/Earnings,Earnings/Share,Book Value,52 week low,52 week high,Market Cap,EBITDA,Price/Sales,Price/Book,SEC Filings
0,MMM,3M Co.,Industrials,141.14,2.12,20.33,6.900,26.668,107.15,143.37,92.345,8.1210,2.95,5.26,http://www.sec.gov/cgi-bin/browse-edgar?action...
1,ABT,Abbott Laboratories,Health Care,39.60,1.82,25.93,1.529,15.573,32.70,40.49,59.477,4.3590,2.74,2.55,http://www.sec.gov/cgi-bin/browse-edgar?action...
2,ABBV,AbbVie Inc.,Health Care,53.95,3.02,20.87,2.570,2.954,40.10,54.78,85.784,7.1900,4.48,18.16,http://www.sec.gov/cgi-bin/browse-edgar?action...
3,ACN,Accenture,Information Technology,79.79,2.34,19.53,4.068,8.326,69.00,85.88,50.513,4.4230,1.75,9.54,http://www.sec.gov/cgi-bin/browse-edgar?action...
4,ACE,ACE Limited,Financials,102.91,2.21,10.00,10.293,86.897,84.73,104.07,34.753,4.2750,1.79,1.18,http://www.sec.gov/cgi-bin/browse-edgar?action...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
495,YHOO,Yahoo Inc.,Information Technology,35.02,NaN,28.94,1.199,12.768,23.82,41.72,35.258,0.8873,7.48,2.72,http://www.sec.gov/cgi-bin/browse-edgar?action...
496,YUM,Yum! Brands Inc,Consumer Discretionary,74.77,1.93,29.86,2.507,5.147,64.08,79.70,33.002,2.8640,2.49,14.55,http://www.sec.gov/cgi-bin/browse-edgar?action...
497,ZMH,Zimmer Holdings,Health Care,101.84,0.81,22.92,4.441,37.181,74.55,108.33,17.091,1.6890,3.68,2.74,http://www.sec.gov/cgi-bin/browse-edgar?action...
498,ZION,Zions Bancorp,Financials,28.43,0.56,18.82,1.511,30.191,26.39,33.33,5.257,0.0000,2.49,0.94,http://www.sec.gov/cgi-bin/browse-edgar?action...
499,ZTS,Zoetis Inc,Health Care,30.53,0.90,29.22,1.038,2.150,28.14,34.28,15.296,1.2920,3.33,14.11,http://www.sec.gov/cgi-bin/browse-edgar?action...

количество строк

In [67]:
pd.read_csv(filepath_or_buffer = "../data/sp500.csv",
           sep = ',',
           nrows = 3)

,Symbol,Name,Sector,Price,Dividend Yield,Price/Earnings,Earnings/Share,Book Value,52 week low,52 week high,Market Cap,EBITDA,Price/Sales,Price/Book,SEC Filings
0,MMM,3M Co.,Industrials,141.14,2.12,20.33,6.900,26.668,107.15,143.37,92.345,8.121,2.95,5.26,http://www.sec.gov/cgi-bin/browse-edgar?action...
1,ABT,Abbott Laboratories,Health Care,39.60,1.82,25.93,1.529,15.573,32.70,40.49,59.477,4.359,2.74,2.55,http://www.sec.gov/cgi-bin/browse-edgar?action...
2,ABBV,AbbVie Inc.,Health Care,53.95,3.02,20.87,2.570,2.954,40.10,54.78,85.784,7.190,4.48,18.16,http://www.sec.gov/cgi-bin/browse-edgar?action...

столбцы

In [68]:
pd.read_csv(filepath_or_buffer = "../data/sp500.csv",
           sep = ',',
           nrows = 3,
           usecols=['Symbol', 'Sector', 'Price', 'Book Value'])

  Symbol       Sector   Price  Book Value
0    MMM  Industrials  141.14      26.668
1    ABT  Health Care   39.60      15.573
2   ABBV  Health Care   53.95       2.954

индекс

In [69]:
pd.read_csv(filepath_or_buffer = "../data/sp500.csv",
           sep = ',',
           nrows = 3,
           usecols=['Symbol', 'Sector', 'Price', 'Book Value'],
           index_col='Symbol')

             Sector   Price  Book Value
Symbol
MMM     Industrials  141.14      26.668
ABT     Health Care   39.60      15.573
ABBV    Health Care   53.95       2.954

итератор

In [70]:
df_chunk = pd.read_csv(filepath_or_buffer = "../data/sp500.csv",
                       sep = ',',
                       chunksize=50,
                       usecols=['Symbol', 'Sector', 'Price', 'Book Value'],
                       index_col='Symbol')

In [71]:
for df_tmp in df_chunk:
    print('DataFrame part:', df_tmp.shape)

DataFrame part: (50, 3)
DataFrame part: (50, 3)
DataFrame part: (50, 3)
DataFrame part: (50, 3)
DataFrame part: (50, 3)
DataFrame part: (50, 3)
DataFrame part: (50, 3)
DataFrame part: (50, 3)
DataFrame part: (50, 3)
DataFrame part: (50, 3)

In [72]:
sp500 = pd.read_csv(filepath_or_buffer = "../data/sp500.csv",
                    sep = ',',
                    usecols=['Symbol', 'Sector', 'Price', 'Book Value'],
                    index_col='Symbol')
sp500

                        Sector   Price  Book Value
Symbol
MMM                Industrials  141.14      26.668
ABT                Health Care   39.60      15.573
ABBV               Health Care   53.95       2.954
ACN     Information Technology   79.79       8.326
ACE                 Financials  102.91      86.897
...                        ...     ...         ...
YHOO    Information Technology   35.02      12.768
YUM     Consumer Discretionary   74.77       5.147
ZMH                Health Care  101.84      37.181
ZION                Financials   28.43      30.191
ZTS                Health Care   30.53       2.150

[500 rows x 3 columns]

### Свойства

#### создаем Series для примеров

In [73]:
Simpsons = pd.Series({'Homer': 120,
                      'Marge': 60,
                      'Bart': 35,
                      'Lisa': 30,
                      'Maggie': 7})

Simpsons

Homer     120
Marge      60
Bart       35
Lisa       30
Maggie      7
dtype: int64

In [74]:
np.random.seed(123)
numbers = pd.Series(data = np.random.normal(size=10),
                    index = np.arange(25,35))
numbers

25   -1.085631
26    0.997345
27    0.282978
28   -1.506295
29   -0.578600
30    1.651437
31   -2.426679
32   -0.428913
33    1.265936
34   -0.866740
dtype: float64

#### тип данных

In [75]:
Simpsons.dtype

dtype('int64')

In [76]:
sp500.dtypes

Sector         object
Price         float64
Book Value    float64
dtype: object

#### количество элементов

Series:

In [77]:
print('Первый способ:', len(Simpsons))
print('Второй способ:', Simpsons.size)
print('Третий способ:', Simpsons.shape)

Первый способ: 5
Второй способ: 5
Третий способ: (5,)

DataFrame:

In [78]:
print('Первый способ:', len(sp500))
print('Второй способ:', sp500.size)
print('Третий способ:', sp500.shape)

Первый способ: 500
Второй способ: 1500
Третий способ: (500, 3)

#### количество уникальных элементов

In [79]:
Simpsons.nunique()

5

In [80]:
sp500.nunique()

Sector         13
Price         495
Book Value    495
dtype: int64

#### индекс и значения

Series:

In [81]:
Simpsons.index

Index(['Homer', 'Marge', 'Bart', 'Lisa', 'Maggie'], dtype='object')

In [82]:
Simpsons.values

array([120,  60,  35,  30,   7], dtype=int64)

DataFrame:

In [83]:
sp500.index

Index(['MMM', 'ABT', 'ABBV', 'ACN', 'ACE', 'ACT', 'ADBE', 'AES', 'AET', 'AFL',
       ...
       'XEL', 'XRX', 'XLNX', 'XL', 'XYL', 'YHOO', 'YUM', 'ZMH', 'ZION', 'ZTS'],
      dtype='object', name='Symbol', length=500)

In [84]:
sp500.values

array([['Industrials', 141.14, 26.668],
       ['Health Care', 39.6, 15.573],
       ['Health Care', 53.95, 2.954],
       ...,
       ['Health Care', 101.84, 37.181],
       ['Financials', 28.43, 30.191],
       ['Health Care', 30.53, 2.15]], dtype=object)

In [85]:
sp500.columns

Index(['Sector', 'Price', 'Book Value'], dtype='object')

#### присвоение / изменение имени

#####  объекта Series

In [86]:
Simpsons.name = 'Simpsons weight'
Simpsons

Homer     120
Marge      60
Bart       35
Lisa       30
Maggie      7
Name: Simpsons weight, dtype: int64

##### индекса

In [87]:
Simpsons.index.name = 'First name'
Simpsons

First name
Homer     120
Marge      60
Bart       35
Lisa       30
Maggie      7
Name: Simpsons weight, dtype: int64

##### столбца

In [88]:
sp500_copy = sp500.rename(columns = {'Book Value': 'BookValue'})

проверяем, не изменились ли имена столбцов в исходном датафрейме

In [89]:
sp500.columns

Index(['Sector', 'Price', 'Book Value'], dtype='object')

In [90]:
sp500_copy.columns

Index(['Sector', 'Price', 'BookValue'], dtype='object')

этот программный код переименовывает столбец на месте

In [91]:
sp500_copy.rename(columns = {'Book Value': 'BookValue'},
            inplace=True)

смотрим изменилось ли имя столбца

In [92]:
sp500_copy.columns

Index(['Sector', 'Price', 'BookValue'], dtype='object')

### Вывод значений

#### первые / последние строки

In [93]:
sp500.head()

                        Sector   Price  Book Value
Symbol
MMM                Industrials  141.14      26.668
ABT                Health Care   39.60      15.573
ABBV               Health Care   53.95       2.954
ACN     Information Technology   79.79       8.326
ACE                 Financials  102.91      86.897

In [94]:
Simpsons.tail(3)

First name
Bart      35
Lisa      30
Maggie     7
Name: Simpsons weight, dtype: int64

#### столбцы

извлекаем столбец Sector

In [95]:
sp500['Sector'].head()

Symbol
MMM                Industrials
ABT                Health Care
ABBV               Health Care
ACN     Information Technology
ACE                 Financials
Name: Sector, dtype: object

тип столбца датафрейма:

In [96]:
type(sp500['Sector'])

pandas.core.series.Series

извлекаем столбцы Price и Book Value

In [97]:
sp500[['Price', 'Book Value']].head()

         Price  Book Value
Symbol
MMM     141.14      26.668
ABT      39.60      15.573
ABBV     53.95       2.954
ACN      79.79       8.326
ACE     102.91      86.897

покажем, что результат является объектом DataFrame

In [98]:
type(sp500[['Price', 'Book Value']])

pandas.core.frame.DataFrame

атрибутивный доступ к столбцу по имени

In [99]:
sp500.Price.head()

Symbol
MMM     141.14
ABT      39.60
ABBV     53.95
ACN      79.79
ACE     102.91
Name: Price, dtype: float64

пример с названием "Book Value"

In [113]:
sp500.Book.Value

AttributeError: 'DataFrame' object has no attribute 'Book'

#### строки

##### по метке

**Series**

In [ ]:
numbers.loc[[25,33]]

ошибка - нет метки

In [ ]:
numbers.loc[0]

**DataFrame**

получаем строку с меткой индекса MMM,которая возвращается в виде объекта Series

In [ ]:
sp500.loc['MMM']

In [ ]:
type(sp500.loc['MMM'])

получаем строки MMM и MSFT результатом будет объект DataFrame

In [ ]:
sp500.loc[['MMM', 'MSFT']]

In [ ]:
type(sp500.loc[['MMM', 'MSFT']])

##### по позиции

**Series**

In [ ]:
numbers

по позиции

In [ ]:
numbers.iloc[[5,-5]]

ошибка:

In [ ]:
numbers.iloc[10]

**DataFrame**

получаем строки, имеющие позиции 0 и 2

In [ ]:
sp500.iloc[[0, 2]]

получаем позиции меток MMM и A в индексе

In [101]:
i1 = sp500.index.get_loc('MMM')
i2 = sp500.index.get_loc('A')
(i1, i2)

(0, 10)

и извлекаем строки

In [102]:
sp500.iloc[[i1, i2]]

             Sector   Price  Book Value
Symbol
MMM     Industrials  141.14      26.668
A       Health Care   56.18      16.928

#### поиск скалярного значения

ищем скалярное значение по метке строки и метке (имени) столбца

In [103]:
sp500.at['MMM', 'Price']

141.14

ищем скалярное значение по позиции строки и позиции столбца; извлекаем значение в строке 0, столбце 1

In [104]:
sp500.iat[0, 1]

141.14

#### одновременный отбор строк и столбцов

отбираем строки с метками индекса ABT и ZTS для столбцов Sector и Price

In [105]:
sp500.loc[['ABT', 'ZTS']][['Sector', 'Price']]

             Sector  Price
Symbol
ABT     Health Care  39.60
ZTS     Health Care  30.53

In [106]:
sp500.loc[['ABT', 'ZTS'],['Sector', 'Price']]

             Sector  Price
Symbol
ABT     Health Care  39.60
ZTS     Health Care  30.53

определение номера позиций заданных меток

In [107]:
print(sp500.index.get_loc('ABT'),sp500.index.get_loc('ZTS'))

1 499

отбор строк и столбцов по номеру позиций

In [108]:
sp500.iloc[[1,499],[0,1]]

             Sector  Price
Symbol
ABT     Health Care  39.60
ZTS     Health Care  30.53

#### транспонирование

In [109]:
sp500.head()

                        Sector   Price  Book Value
Symbol
MMM                Industrials  141.14      26.668
ABT                Health Care   39.60      15.573
ABBV               Health Care   53.95       2.954
ACN     Information Technology   79.79       8.326
ACE                 Financials  102.91      86.897

In [110]:
sp500.T.head()

Symbol,MMM,ABT,ABBV,ACN,ACE,ACT,ADBE,AES,AET,AFL,...,XEL,XRX,XLNX,XL,XYL,YHOO,YUM,ZMH,ZION,ZTS
Sector,Industrials,Health Care,Health Care,Information Technology,Financials,Health Care,Information Technology,Utilities,Health Care,Financials,...,Utilities,Information Technology,Information Technology,Financials,Industrials,Information Technology,Consumer Discretionary,Health Care,Financials,Health Care
Price,141.14,39.6,53.95,79.79,102.91,213.77,64.3,13.61,76.39,61.31,...,30.24,12.06,46.03,32.47,38.42,35.02,74.77,101.84,28.43,30.53
Book Value,26.668,15.573,2.954,8.326,86.897,55.188,13.262,5.781,40.021,34.527,...,19.45,10.471,10.247,37.451,12.127,12.768,5.147,37.181,30.191,2.15

#### переиндексация

ошибка:

In [111]:
sp500.loc[['MMM', 'ABBV', 'NEW VALUE']]

KeyError: "['NEW VALUE'] not in index"

делаем переиндексацию, задав метки MMM, ABBV и NEW VALUE

In [ ]:
reindexed = sp500.reindex(index=['MMM', 'ABBV', 'NEW VALUE'])

обратите внимание, что все индексы, кромя перечисленных при вызове, удалены, а *NEW VALUE* содержит значения *NaN*

In [ ]:
reindexed

выполняем переиндексацию столбцов

In [ ]:
sp500.reindex(columns=['Price', 'Book Value', 'NewCol']).head()

при этом можем заполнить отсутствующие значения константами вместо *NaN*

In [ ]:
sp500.reindex(columns=['Price',
                       'Book Value',
                       'NewCol'],
              fill_value=0).head()

#### случайная подвыборка

отбираем три случайные строки

In [ ]:
sp500.sample(n=3)

случайный отбор с возвращением

In [ ]:
sp500.sample(frac=5, replace=True, random_state=777)

#### [настройки вывода](http://pandas.pydata.org/pandas-docs/stable/user_guide/options.html#available-options)

In [ ]:
pd.options.display.max_rows

In [ ]:
sp500

In [ ]:
pd.options.display.max_rows = 10

In [ ]:
sp500

In [ ]:
pd.options.display.max_rows

### Срезы данных

#### Series

Задаём срез по правилу: [начальная позиция: конечная позиция: величина шага], при этом:
- Правая граница - не включается
- Шаг может быть отрицательным
- Позиция также может быть отрицательной - тогда отсчёт происходит "с другого конца"
- Нумерация происходит от нуля

In [ ]:
numbers

срез, содержащий элементы с позициями от 1 по 5

In [ ]:
numbers.iloc[1:6]

выбираем элементы в позициях 1, 3, 5 == выбираем элементы с 1 по 5 позицию с шагом 2

In [ ]:
numbers.iloc[1:6:2]

можем оставить только конечную позицию

In [ ]:
numbers.iloc[:6]

либо оставим только начальную позицию

In [ ]:
numbers.iloc[3:]

отбираем элементы Series в обратном порядке, начиная с 5

In [ ]:
numbers.iloc[5::-1]

отбор 4 последних строк

In [ ]:
numbers.iloc[-4:]

####  DataFrame

In [ ]:
sp500.iloc[:5]

в обратном порядке

In [ ]:
sp500.iloc[4::-1]

строки, начиная с метки ABT и заканчивая меткой ACN

In [ ]:
sp500.loc['ABT':'ACN']

### Копирование и ссылки

In [ ]:
numbers

элементы с 1 по 4

In [ ]:
numbers.iloc[[1,2,3,4]]

сохранили в переменную n

In [ ]:
n = numbers.iloc[[1,2,3,4]]

In [ ]:
n

присваиваем значение 0 всем элементам

In [ ]:
n.loc[:] = 0
n

что-нибудь произошло с numbers?

In [ ]:
numbers

еще раз сохраним первые 4 элемента

In [ ]:
n = numbers.iloc[[1,2,3,4]]
n

создаем переменную k = срез с 1 по 4 элемент

In [ ]:
k = numbers[1:5]
k.loc[:] = 0
k

In [ ]:
numbers

воcстановили numbers

In [ ]:
numbers[1:5] = n
numbers

###  Удаление

#### del

Series

In [ ]:
Simpsons

In [ ]:
Simpsons_copy = Simpsons.copy()
del Simpsons_copy['Maggie']
Simpsons_copy

DataFrame

In [ ]:
sp500.head()

In [ ]:
sp500_copy = sp500.copy()
del sp500_copy['Price']
sp500_copy.iloc[:2]

#### pop

In [ ]:
sp500_copy = sp500.copy()

In [ ]:
sp500_copy.head(3)

эта строка удалит столбец Sector и возвратит его как серию

In [ ]:
popped_column = sp500_copy.pop('Sector')

столбец Sector удален на месте

In [ ]:
sp500_copy.head(3)

и у нас есть столбец Sector, полученный в результате применения pop

In [ ]:
popped_column.head(3)

Для Series применение .pop идентично

#### drop

In [ ]:
sp500_copy = sp500.copy()

In [ ]:
sp500_copy.head(3)

- эта строка вернет новый датафрейм с удаленным столбцом 'Sector’
- копия датафрейма не изменится

In [ ]:
sp500_copy_after_drop = sp500_copy.drop(['Sector'], axis = 1)
sp500_copy_after_drop.head(3)

In [ ]:
sp500_copy.head(3)

получаем копию первых 5 строк датафрейма data

In [ ]:
sp500_part_copy = sp500.iloc[:5].copy()
sp500_part_copy

удаляем строки с метками ABT и ACN

In [ ]:
sp500_part_copy = sp500_part_copy.drop(['ABT', 'ACN'], axis=0)
sp500_part_copy.head(5)

Для Series применение .drop идентично

### Фильтрация по условию

#### Series

In [115]:
numbers

25   -1.085631
26    0.997345
27    0.282978
28   -1.506295
29   -0.578600
30    1.651437
31   -2.426679
32   -0.428913
33    1.265936
34   -0.866740
dtype: float64

какие строки имеют значения больше 0 и меньше 1?

In [116]:
logical_results = (numbers > 0) & (numbers < 1)
logical_results

25    False
26     True
27     True
28    False
29    False
30    False
31    False
32    False
33    False
34    False
dtype: bool

Скобки!!! Следующий программный код приведет к выдаче исключения
```python
numbers > 0 & numbers < 1 
```

тип полученного результата - Series, который можно использовать для отбора интерсующих нас значений

In [117]:
type(logical_results)

pandas.core.series.Series

отбираем строки со значением True

In [118]:
numbers[logical_results]

26    0.997345
27    0.282978
dtype: float64

использование метода .where

In [119]:
numbers.where((numbers > 0) & (numbers < 1))

25         NaN
26    0.997345
27    0.282978
28         NaN
29         NaN
30         NaN
31         NaN
32         NaN
33         NaN
34         NaN
dtype: float64

In [120]:
numbers.where((numbers > 0) & (numbers < 1), other = -1)

25   -1.000000
26    0.997345
27    0.282978
28   -1.000000
29   -1.000000
30   -1.000000
31   -1.000000
32   -1.000000
33   -1.000000
34   -1.000000
dtype: float64

все ли элементы >= 0?

In [121]:
(numbers >= 0).all()

False

есть ли элемент < 2?

In [122]:
(numbers < 2).any()

True

сколько значений < 1?

In [123]:
numbers < 1

25     True
26     True
27     True
28     True
29     True
30    False
31     True
32     True
33    False
34     True
dtype: bool

In [124]:
(numbers < 1).sum()

8

#### DataFrame

какие строки имеют значения Price < 100?

In [125]:
sp500.Price < 100

Symbol
MMM     False
ABT      True
ABBV     True
ACN      True
ACE     False
        ...
YHOO     True
YUM      True
ZMH     False
ZION     True
ZTS      True
Name: Price, Length: 500, dtype: bool

теперь получим строки, в которых Price < 100

In [126]:
sp500[sp500.Price < 100]

                        Sector  Price  Book Value
Symbol
ABT                Health Care  39.60      15.573
ABBV               Health Care  53.95       2.954
ACN     Information Technology  79.79       8.326
ADBE    Information Technology  64.30      13.262
AES                  Utilities  13.61       5.781
...                        ...    ...         ...
XYL                Industrials  38.42      12.127
YHOO    Information Technology  35.02      12.768
YUM     Consumer Discretionary  74.77       5.147
ZION                Financials  28.43      30.191
ZTS                Health Care  30.53       2.150

[407 rows x 3 columns]

извлекаем лишь те строки, в которых значение Price < 10 и > 6

In [127]:
r = sp500[(sp500['Price'] < 10) & 
          (sp500.Price > 6)] ['Price']
r

Symbol
HCBK    9.80
HBAN    9.10
SLM     8.82
WIN     9.38
Name: Price, dtype: float64

извлекаем строки, в которых переменная Sector принимает значение Health Care, а переменная Price больше или равна 100.00

In [128]:
r = sp500[(sp500.Sector == 'Health Care') & 
          (sp500.Price >= 100.00)] [['Price', 'Sector']]
r

         Price       Sector
Symbol
ACT     213.77  Health Care
ALXN    162.30  Health Care
AGN     166.92  Health Care
AMGN    114.33  Health Care
BCR     146.62  Health Care
BDX     115.70  Health Care
BIIB    299.71  Health Care
CELG    150.13  Health Care
HUM     124.49  Health Care
ISRG    363.86  Health Care
JNJ     100.98  Health Care
LH      100.75  Health Care
MCK     183.75  Health Care
PRGO    138.63  Health Care
REGN    297.77  Health Care
TMO     115.74  Health Care
WAT     100.54  Health Care
WLP     108.82  Health Care
ZMH     101.84  Health Care

использование метода .isin

In [129]:
s_tmp = sp500.Sector.isin(['Information Technology', 'Financials'])
s_tmp

Symbol
MMM     False
ABT     False
ABBV    False
ACN      True
ACE      True
        ...
YHOO     True
YUM     False
ZMH     False
ZION     True
ZTS     False
Name: Sector, Length: 500, dtype: bool

In [130]:
sp500[s_tmp].head()

                        Sector   Price  Book Value
Symbol
ACN     Information Technology   79.79       8.326
ACE                 Financials  102.91      86.897
ADBE    Information Technology   64.30      13.262
AFL                 Financials   61.31      34.527
AKAM    Information Technology   53.65      15.193

использование метода .query

In [131]:
r = sp500[(sp500.Sector == 'Health Care') & 
          (sp500.Price >= 100.00)] [['Price', 'Sector']]
r

         Price       Sector
Symbol
ACT     213.77  Health Care
ALXN    162.30  Health Care
AGN     166.92  Health Care
AMGN    114.33  Health Care
BCR     146.62  Health Care
BDX     115.70  Health Care
BIIB    299.71  Health Care
CELG    150.13  Health Care
HUM     124.49  Health Care
ISRG    363.86  Health Care
JNJ     100.98  Health Care
LH      100.75  Health Care
MCK     183.75  Health Care
PRGO    138.63  Health Care
REGN    297.77  Health Care
TMO     115.74  Health Care
WAT     100.54  Health Care
WLP     108.82  Health Care
ZMH     101.84  Health Care

In [132]:
q = sp500.query("Sector=='Health Care' & Price >= 100")[['Price', 'Sector']]
q

         Price       Sector
Symbol
ACT     213.77  Health Care
ALXN    162.30  Health Care
AGN     166.92  Health Care
AMGN    114.33  Health Care
BCR     146.62  Health Care
BDX     115.70  Health Care
BIIB    299.71  Health Care
CELG    150.13  Health Care
HUM     124.49  Health Care
ISRG    363.86  Health Care
JNJ     100.98  Health Care
LH      100.75  Health Care
MCK     183.75  Health Care
PRGO    138.63  Health Care
REGN    297.77  Health Care
TMO     115.74  Health Care
WAT     100.54  Health Care
WLP     108.82  Health Care
ZMH     101.84  Health Care

### Добавление

#### оператор [ ]

создаем копию, чтобы исходные данные остались в неизменном виде

In [133]:
sp500_copy = sp500.copy()

добавляем столбец

In [134]:
sp500_copy['RoundedPrice'] = sp500_copy.Price.round()
sp500_copy.head(3)

             Sector   Price  Book Value  RoundedPrice
Symbol
MMM     Industrials  141.14      26.668         141.0
ABT     Health Care   39.60      15.573          40.0
ABBV    Health Care   53.95       2.954          54.0

#### метод .insert()

создаем копию, чтобы исходные данные остались в неизменном виде

In [135]:
sp500_copy = sp500.copy()

вставляем столбец RoundedPrice в качестве третьего столбца датафрейма

In [136]:
sp500_copy.insert(1, 'RoundedPrice', sp500_copy.Price.round())
sp500_copy.head(3)

             Sector  RoundedPrice   Price  Book Value
Symbol
MMM     Industrials         141.0  141.14      26.668
ABT     Health Care          40.0   39.60      15.573
ABBV    Health Care          54.0   53.95       2.954

#### метод .assign()

создаем копию, чтобы исходные данные остались в неизменном виде

In [137]:
sp500_copy = sp500.copy()

одновременное добавление двух столбцов:

In [138]:
sp500_copy.assign(Rounded_Price=sp500_copy.Price.round(),
                  R_BookValue_Price=lambda x: (x['Book Value'] / x['Rounded_Price']))

,Sector,Price,Book Value,Rounded_Price,R_BookValue_Price
Symbol,,,,,
MMM,Industrials,141.14,26.668,141.0,0.189135
ABT,Health Care,39.60,15.573,40.0,0.389325
ABBV,Health Care,53.95,2.954,54.0,0.054704
ACN,Information Technology,79.79,8.326,80.0,0.104075
ACE,Financials,102.91,86.897,103.0,0.843660
...,...,...,...,...,...
YHOO,Information Technology,35.02,12.768,35.0,0.364800
YUM,Consumer Discretionary,74.77,5.147,75.0,0.068627
ZMH,Health Care,101.84,37.181,102.0,0.364520
ZION,Financials,28.43,30.191,28.0,1.078250
ZTS,Health Care,30.53,2.150,31.0,0.069355

### Выравнивание данных

#### Series

первая серия для примеров

In [139]:
s_1 = pd.Series(data=[77,33,11],index=['a','b','f'])
s_1

a    77
b    33
f    11
dtype: int64

вторая серия для примеров

In [140]:
s_2 = pd.Series(data=[11,5,6],index=['c','b','a'])
s_2

c    11
b     5
a     6
dtype: int64

для непересекающейся части индексов будут получены значения NaN

In [141]:
s_1+s_2

a    83.0
b    38.0
c     NaN
f     NaN
dtype: float64

метки не обязательно должны быть уникальными

In [142]:
s_1 = pd.Series(data=[77, 33, 15, 3], index=['a', 'a', 'a', 'd'])
s_1

a    77
a    33
a    15
d     3
dtype: int64

In [143]:
s_2 = pd.Series(data=[11, 5, 6], index=['c', 'a', 'a'])
s_2

c    11
a     5
a     6
dtype: int64

3 метки 'а' и 2 метки 'а', результат 6 меток а

In [144]:
s_2+s_1

a    82.0
a    38.0
a    20.0
a    83.0
a    39.0
a    21.0
c     NaN
d     NaN
dtype: float64

#### DataFrame

In [145]:
sp500_part_1 = sp500.iloc[0:5, 0:2].copy()
sp500_part_2 = sp500.iloc[2:7, 1:3].copy()

In [146]:
sp500_part_1

                        Sector   Price
Symbol
MMM                Industrials  141.14
ABT                Health Care   39.60
ABBV               Health Care   53.95
ACN     Information Technology   79.79
ACE                 Financials  102.91

In [147]:
sp500_part_2

         Price  Book Value
Symbol
ABBV     53.95       2.954
ACN      79.79       8.326
ACE     102.91      86.897
ACT     213.77      55.188
ADBE     64.30      13.262

In [148]:
sp500_part_1 + sp500_part_2

        Book Value   Price  Sector
Symbol
ABBV           NaN  107.90     NaN
ABT            NaN     NaN     NaN
ACE            NaN  205.82     NaN
ACN            NaN  159.58     NaN
ACT            NaN     NaN     NaN
ADBE           NaN     NaN     NaN
MMM            NaN     NaN     NaN

происходит выравнивание при создании датафрейма

In [149]:
series_1 = pd.Series([70, 90])
series_2 = pd.Series([71, 91])
series_3 = pd.Series([85, 87], index=[1, 2])
df = pd.DataFrame({'col_1': series_1,
                   'col_2': series_2,
                   'col_3': series_3})
df

   col_1  col_2  col_3
0   70.0   71.0    NaN
1   90.0   91.0   85.0
2    NaN    NaN   87.0

### Сортировка

#### по индексу

In [150]:
sp500.head()

                        Sector   Price  Book Value
Symbol
MMM                Industrials  141.14      26.668
ABT                Health Care   39.60      15.573
ABBV               Health Care   53.95       2.954
ACN     Information Technology   79.79       8.326
ACE                 Financials  102.91      86.897

In [151]:
sp500.sort_index().head()

                        Sector   Price  Book Value
Symbol
A                  Health Care   56.18      16.928
AA                   Materials   13.52       9.670
AAPL    Information Technology  614.13     139.460
ABBV               Health Care   53.95       2.954
ABC                Health Care   71.64       9.430

In [152]:
sp500.sort_index(axis=1).head()

        Book Value   Price                  Sector
Symbol
MMM         26.668  141.14             Industrials
ABT         15.573   39.60             Health Care
ABBV         2.954   53.95             Health Care
ACN          8.326   79.79  Information Technology
ACE         86.897  102.91              Financials

#### по значению

In [153]:
sp500.sort_values(by='Price').head()

                             Sector  Price  Book Value
Symbol
BEAM         Consumer Discretionary   0.00         NaN
FTR     Telecommunications Services   5.81       3.989
SLM                      Financials   8.82      11.895
HBAN                     Financials   9.10       6.995
WIN     Telecommunications Services   9.38       1.199

In [154]:
sp500.sort_values(by='Price', ascending=False).head()

                        Sector    Price  Book Value
Symbol
PCLN               Industrials  1197.12     137.886
GHC     Consumer Discretionary   677.29       0.000
AAPL    Information Technology   614.13     139.460
GOOG    Information Technology   552.70     135.977
AZO     Consumer Discretionary   540.90     -51.275

#### наименьшее / наибольшее значение

In [155]:
sp500.nsmallest(5, 'Price')

                             Sector  Price  Book Value
Symbol
BEAM         Consumer Discretionary   0.00         NaN
FTR     Telecommunications Services   5.81       3.989
SLM                      Financials   8.82      11.895
HBAN                     Financials   9.10       6.995
WIN     Telecommunications Services   9.38       1.199

In [156]:
sp500.nlargest(5, 'Price')

                        Sector    Price  Book Value
Symbol
PCLN               Industrials  1197.12     137.886
GHC     Consumer Discretionary   677.29       0.000
AAPL    Information Technology   614.13     139.460
GOOG    Information Technology   552.70     135.977
AZO     Consumer Discretionary   540.90     -51.275